# ls
alias ls='ls -Gh'
alias sl='ls'
alias ll='ls -alt'

# cd
alias cd..='cd ..'
alias ..='cd ..'
alias ...='cd ../..'

alias cdev='cd ~/Development'
alias wptheme='cd ~/Development/wordpress/wp-content/themes'

# mkdir
alias mkdir='mkdir -p'

mcd () {
  mkdir -p $1
  cd $1
}

